#container {
    width: 1400px; 
    background-color: white;
}

body{
    margin: 0px;
}

header{
    /* background-color: rgb(236, 172, 172); */
    height: 115px;
    width: 1400px;
}

.menu{
    position: absolute;
    width: 940px;
    height: 15px;
    margin-top: 50px;
    margin-right: 230px;
    margin-bottom: 50px;
    margin-left: 230px;
}

img[src="logo/circle.png"]{
    position: relative;
    top: -7px;
}

img[src="logo/leaf.png"]{
    position: relative;
    top: -13px;
    left: -26px;
}

img[src="logo/logo_txt.png"]{
    position: relative;
    top: -14px;
    left: -17px;
}

.menu p{
    position: relative;
    display: inline;
    top: -16px;
    left: 237px;
    padding: 20px;
    font-family: "Montserrat Regular", sans-serif, bold;
    font-size: 14px;
    color: #777;
    text-transform: uppercase;
    line-height: 2.929;
    font-weight: bold;
}

.menu p:hover{
    color: #222;
}

.title_section{
    position: absolute;
    background-image: url(./title_section/title_bg.png);
    background-size: cover;
    height: 530px;
    width: 1400px;
    z-index: 1;
    margin: 0px;
}


.transparency_layer {
    background: rgba(0, 0, 0, 0.749);
    position: absolute;
    width: 1400px;
    height: 530px;
    z-index: 291;
    margin:0px;
} 
  
.title p{
    font-size: 57px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.083;
    text-align: center;
    position: absolute;
    left: 434px;
    top:55px;
    z-index: 400;
}
      
.subtitle p{
    font-size: 20px;
    font-family: "RobotoSlab";
    color: rgb(204, 204, 204);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 517px;
    top: 250px;
    z-index: 400;  
}

input[value="VIEW PORTFOLIO"] {
    background-color: rgb(124, 197, 118);
    position: absolute;
    left: 600px;
    top: 365px;
    width: 200px;
    height: 60px;
    z-index: 293;
    border-radius: 50%;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.763;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.466);
    -moz-transform: matrix( 1,0,0,1.07832445487233,0,0);
    -webkit-transform: matrix( 1,0,0,1.07832445487233,0,0);
    -ms-transform: matrix( 1,0,0,1.07832445487233,0,0);
    border: none;
    letter-spacing: 0.8px;
}

input:hover[value="VIEW PORTFOLIO"] {
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    border-radius: 50%;
    font-size: 15px;
    font-family: "Montserrat" sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.763;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.466);
    -moz-transform: matrix( 1,0,0,1.07832445487233,0,0);
    -webkit-transform: matrix( 1,0,0,1.07832445487233,0,0);
    -ms-transform: matrix( 1,0,0,1.07832445487233,0,0);
    border: none;
}

.professional_services{
    position: absolute;
    height: 535px; 
    top: 745px;
}

.prof_title {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
    position: absolute;
    top: -183px;
    left: 314px;
    width: 800px;    
    z-index: 286;    
}

.prof_subtitle {
    position: absolute;
    width: 404px;
    top: -95px;
    left: 504px;
    right: -94px;
    font-size: 20px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
}

img[src="professional_services/heart.png"]{
    position: absolute;
    top: 37px;
    left: 345px;
}

img[src="professional_services/mobile.png"]{
    position: absolute;
    top: 37px;
    left: 680px;
}

img[src="professional_services/tools.png"]{
position: absolute;
top: 37px;
left: 1005px;
}

.heart_title p{
    position: absolute;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 4.167;
    text-align: left;
    position: absolute;
    left: 278.844px;
    top: 77px;
    width: 400px;
    z-index: 283;
}
      
.heart_sub p {
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 226px;
    top: 150px;
    width: 274px;
    height: 57px;
    z-index: 282;
  }
 
.mobile_title{
    position: absolute;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 4.167;
    text-align: left;
    left: 620px;
    top: 77px;
    width: 200px;
    z-index: 283;
}

.mobile_sub p{
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 565px;
    top: 150px;
    width: 274px;
    height: 57px;
    z-index: 282;
}

.tools_title{
    position: absolute;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 4.167;
    text-align: left;
    left: 945px;
    top: 77px;
    width: 200px;
    z-index: 283;
}

.tools_sub p{
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 890px;
    top: 150px;
    width: 274px;
    height: 57px;
    z-index: 282;
}

.just_relax{
    position: absolute;
    width: 1400px;
    height: 615px;
    width: 100%;
    background-color: #e9e9e9;
    top: 1100px;
    z-index: 200;
}
img[src="just_relax/gear2.png"]{
    position: absolute;
    left: 235px;
    top: 106px;
    z-index: 282;
}

img[src="just_relax/relax_bg.png"]{
    position: absolute;
    left: 430px;
    top: 0px;
    z-index: 283;
}

.bg_cover{
    position: absolute;
    width: 970px;
    height: 615px;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    left: 430px;
    z-index: 290;
}

.just_relax_title {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 520px;
    top: 40px;
    z-index: 300;
}
.color_text{
    color: #7cc576;
}

.just_relax_sub{
    font-size: 17px;
    font-family: "RobotoSlab";
    color: rgb(204, 204, 204);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 520px;
    top: 200px;
    width: 453px;
    z-index: 300;
}

.option_1 {
    position: absolute;
    top: 280px;
    left: 498px;
    z-index: 300;
}

.option_1 img[src="just_relax/checkmark.png"]{
    position: absolute;
    top: 10px;
    left: 9px;
}

.option_1 p{
    font-size: 17px;
    font-family: "RobotoSlab";
    color: rgb(204, 204, 204);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 20px;
    top: -10px;
    z-index: 300;
    left: 55px;
    top: -10px;
    width: 300px;
}

.option_2 {
    position: absolute;
    top: 325px;
    left: 498px;
    z-index: 300;
}

.option_2 img[src="just_relax/checkmark.png"]{
    position: absolute;
    top: 10px;
    left: 9px;
}

.option_2 img[src="just_relax/circle.png"/]{
    position: absolute;
    top: 10px;
    left: 9px;
}

.option_2 p{
    font-size: 17px;
    font-family: "RobotoSlab";
    color: rgb(204, 204, 204);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 20px;
    top: -10px;
    z-index: 300;
    left: 55px;
    top: -10px;
    width: 300px;
}

.option_3 {
    position: absolute;
    top: 370px;
    left: 498px;
    z-index: 300;
}

.option_3 img[src="just_relax/checkmark.png"]{
    position: absolute;
    top: 10px;
    left: 9px;
}

.option_3 img[src="just_relax/circle.png"/]{
    position: absolute;
    top: 10px;
    left: 9px;
}

.option_3 p{
    font-size: 17px;
    font-family: "RobotoSlab";
    color: rgb(204, 204, 204);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 20px;
    top: -10px;
    z-index: 300;
    left: 55px;
    top: -10px;
    width: 300px;
}

input[value="LEARN MORE"]{
    background-color: rgb(124, 197, 118);
    position: absolute;
    left: 506px;
    top: 450px;
    width: 200px;
    height: 60px;
    z-index: 293;
    border-radius: 50%;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.763;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.466);
    -moz-transform: matrix( 1,0,0,1.07832445487233,0,0);
    -webkit-transform: matrix( 1,0,0,1.07832445487233,0,0);
    -ms-transform: matrix( 1,0,0,1.07832445487233,0,0);
    border: none;
    letter-spacing: 0.8px;
}
.latest_project{
    position: absolute;
    background-color: white;
    top: 1795px;
    height: 825px;
}

img[src="latest_project/latest_project_bg.png"] {
    position: absolute;
    z-index: 200;
    top: 270px;
    left: 760px;
}

.latest_project_title {
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        color: rgb(34, 34, 34);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        position: absolute;
        left: 535.844px;
        top: -35px;
        letter-spacing: 0.5px;
        width: 600px;
        z-index: 247;
}

.latest_project_sub {
    font-size: 20px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 518.87px;
    top: 50px;
    width: 400px;
    z-index: 246;
}
    
.latest_project_descr {
    position: absolute;
    top: 155px;
    left: 230px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 4.167;
    text-align: left;
    z-index: 244;
    width: 400px;
}
  
.latest_project_descr_sub {
    font-size: 16px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 230px;
    top: 220px;
    width: 400px;
    z-index: 243;
}

.ecommerce{
    position: absolute;
    top: 290px;
    left: 230px;
    width: 465px;
}

.ecommerce img[src="latest_project/circle.png"] {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 200;
}

.ecommerce img[src="latest_project/basket.png"] {
    position: absolute;
    top: 14px;
    left: 17px;
    z-index: 201;
}

.ecommerce_title {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: rgb(34, 34, 34);
        font-weight: bold;
        line-height: 4.167;
        text-align: left;
        position: absolute;
        left: 90px;
        top: -30px;
        z-index: 240;
        width: 300px;
}

.ecommerce_sub {
        font-size: 16px;
        font-family: "RobotoSlab";
        color: rgb(119, 119, 119);
        line-height: 1.2;
        text-align: left;
        position: absolute;
        left: 90px;
        top: 20px;
        z-index: 239;
      }
      
/* ffffffffffffffffffff-------powerful----------fffffffffffffffffffffffffffff*/
.powerful{
    position: absolute;
    top: 380px;
    left: 230px;
    width: 465px;
}

.powerful img[src="latest_project/circle.png"] {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 200;
}

.powerful img[src="latest_project/laptop.png"] {
    position: absolute;
    top: 20px;
    left: 17px;
    z-index: 201;
}

.powerful_title {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: rgb(34, 34, 34);
        font-weight: bold;
        line-height: 4.167;
        text-align: left;
        position: absolute;
        left: 90px;
        top: -30px;
        z-index: 240;
        width: 300px;
}

.powerful_sub {
        font-size: 16px;
        font-family: "RobotoSlab";
        color: rgb(119, 119, 119);
        line-height: 1.2;
        text-align: left;
        position: absolute;
        left: 90px;
        top: 20px;
        z-index: 239;
      }
      /* ----------------------secure----------------------------------------*/
.secure{
    position: absolute;
    top: 470px;
    left: 230px;
    width: 465px;
}

.secure img[src="latest_project/circle.png"] {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 200;
}

.secure img[src="latest_project/locked.png"] {
    position: absolute;
    top: 16px;
    left: 21px;
    z-index: 201;
}

.secure_title {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 4.167;
    text-align: left;
    position: absolute;
    left: 90px;
    top: -30px;
    z-index: 240;
    width: 300px;
}

.secure_sub {
    font-size: 16px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 90px;
    top: 20px;
    z-index: 239;
}

.bottom_descr {
    font-size: 16px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 230px;
    top: 545px;
    z-index: 229;
    width: 400px;
}

.hyperlink {
    position: absolute;
    top: 610px;
    left: 230px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #a8d8a4;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    z-index: 227;
    width: 400px;
    
}

.hyperlink img{
    position: absolute;
    top: 20px;
    left: 115px;
}

.hyperlink:hover{
    color: black;
}

.hyperlink img:hover{
    background-color: rgb(34, 34, 34);
}
  
